body {
  background-color: #000000;
}

form {
  background-image: linear-gradient(
    to bottom,
    rgba(128, 139, 150, 0.598),
    rgba(99, 99, 117, 0.404)
  );
  padding: 20px;
  padding-top: 40px;
  margin: auto;
  margin-top: 120px;
  border-radius: 10px;
  width: 400px;
  backdrop-filter: blur(10px);
}

fieldset {
  border: none;
  border-radius: 5%;
  font-size: 20px;
  font-family: "Vollkorn SC", serif;
}

legend {
  font-family: "Oi", cursive;
  font-weight: 10;
  font-size: 40px;
  color: rgb(255, 240, 243);
  text-align: center;
}

p {
  color: white;
}

.input_value {
  font-size: 17px;
  font-family: "Vollkorn SC", serif;
  border: none;
  border-radius: 5px;
  background-color: #dabcc662;
  padding: 15px;
  width: auto;
  outline: none;
  box-shadow: 0 5px 15px rgba(192, 109, 109, 0.436);
  margin-bottom: 20px;
}

input[type="submit"] {
  font-size: 17px;
  font-family: "Vollkorn SC", serif;
  padding: 13px 20px;
  background-color: rgb(222, 124, 139);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(192, 109, 109, 0.436);
  text-align: center;
}

.aaa {
  text-align: center;
}

.input_value::placeholder {
  color: #ffffff;
}

.button {
  font-size: 17px;
  font-family: "Vollkorn SC", serif;
  display: inline-block;
  padding: 13px 20px;
  color: rgba(255, 255, 255, 0.674);
  text-decoration: none;
  margin-top: 10px;
}

.button:hover {
  color: #ffffff6f;
}

.button:focus {
  color: rgba(252, 252, 252, 0.164);
}

span:nth-of-type(1) {
  position: absolute;
  backdrop-filter: blur(10px);
  width: 100px;
  height: 100px;
  background-color: rgba(174, 188, 213, 0.397);
  display: block;
  border-radius: 10px;
  animation: move-square1 2.5s ease-in-out infinite;
  z-index: 10;
}

span:nth-of-type(2) {
  content: "";
  position: absolute;
  backdrop-filter: blur(10px);
  width: 80px;
  height: 80px;
  background-color: rgba(174, 188, 213, 0.397);
  display: block;
  border-radius: 10px;
  animation: move-square2 3s ease-in-out infinite;
}

span:nth-of-type(3) {
  content: "";
  position: absolute;
  backdrop-filter: blur(10px);
  width: 120px;
  height: 120px;
  background-color: rgba(174, 188, 213, 0.397);
  display: block;
  border-radius: 10px;
  animation: move-square3 4s ease-in-out infinite;
}

span:nth-of-type(1):hover {
  transform: scale(1.1);
}
span:nth-of-type(2):hover {
  transform: scale(1.1);
}
span:nth-of-type(3):hover {
  transform: scale(1.1);
}

@keyframes move-square1 {
  0% {
    top: calc(100% - 700px);
    left: 25%;
  }

  50% {
    top: calc(100% - 680px);
    left: 23%;
  }
  100% {
    top: calc(100% - 700px);
    left: 25%;
  }
}
@keyframes move-square2 {
  0% {
    top: 80%;
    left: 31%;
  }

  50% {
    top: 65%;
    left: 34%;
  }
  100% {
    top: 80%;
    left: 31%;
  }
}

@keyframes move-square3 {
  0% {
    top: 5%;
    left: 61%;
  }

  50% {
    top: 8%;
    left: 63%;
  }
  100% {
    top: 5%;
    left: 61%;
  }
}
